/* Base css */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --bg-color: #0e0e0e;
  --text-color: #ffffff;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;

  background: var(--bg-color);
  color: var(--text-color);
}

a {
  text-decoration: none;
}

/* App css */
.main {
  --bg-scale: 1;
}

.jumpo {
  margin-top: 5%;
  margin-bottom: 64px;

  padding: 0 3%;
}

.jumpo .caption {
  margin-bottom: 2%;

  line-height: 1;
  font-size: 6vw;
  font-weight: 700;
  text-transform: uppercase;
}

.jumpo .heading {
  width: 80%;
}

.projects {
  margin-bottom: 4%;
  padding: 0 3%;
}

.project {
  border-bottom: 1px solid #ffffff20;
  padding-top: 50px;
  padding-bottom: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #ffffff20;
  transition: all 0.4s ease-in-out;
}

.project__content {
  display: flex;
  align-items: center;
}

.project__figure {
  width: 0;
  transition: all 0.4s ease-out;
  overflow: hidden;
}

.project__figure img,
.project__figure video {
  width: 334px;
  height: 100%;
  object-fit: cover;
}

.project__title h2 {
  font-size: 6.25vw;
  font-weight: 700;
  line-height: 120%;
  white-space: nowrap;
}

.project__title .project__counter {
  font-weight: 300;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 0.02em;

  margin-bottom: 16px;
}

.project:hover .project__figure {
  width: 344px;
  margin-right: 32px;
}

.project:hover {
  color: white;
  border-bottom: 1px solid white;
}

/* Detail page */

.back {
  padding: 0 3%;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff20;
}

.back a {
  font-size: 14px;
  color: white;
}

.back a:hover {
  text-decoration: line-through;
}

.hero {
  padding: 4% 3% 0 3%;
  display: flex;
  justify-content: space-between;
  gap: 12vh;
  position: relative;
}

.hero__content {
  flex-grow: 1;
  overflow: hidden;
}

.hero__content h1 {
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff40;

  margin-bottom: 64px;
}

.hero__content p {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  margin-bottom: 16px;
  max-width: 444px;
  position: relative;
}

.hero__content p::before {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background: white;
  margin-bottom: 16px;
}

.hero__figure {
  z-index: 1;
  flex-basis: 48%;
  /* overflow: hidden; */
}

.hero__figure img,
.hero__figure video {
  width: 100%;
  object-fit: cover;
}

.hero__bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  color: #121212;
  padding: 0 3%;
  height: 30%;

  display: flex;
  align-items: center;
}

.hero__bottom span {
  font-size: 40px;
  font-weight: 600;
}

.summary {
  margin-top: -1px;
  padding: 3%;
  color: #121212;
  font-size: 18px;
  line-height: 140%;
  position: relative;
}

.summary::before,
.hero__bottom::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  transform-origin: 0 0;
  transform: scaleX(var(--bg-scale, 1));
  background: white;
  z-index: -1;
}
